@model IEnumerable<CaloryCounterProject.Models.FoodDto>

@{
    ViewBag.Title = "View";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.foodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foodWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foodType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.foodName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.foodWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.foodType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.foodId }) |
            @Html.ActionLink("Details", "Details", new { id=item.foodId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.foodId })
        </td>
    </tr>
}

</table>
