@model CaloryCounterProject.Models.Food

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.foodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foodWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foodWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foodType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foodType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.foodId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
